*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# VScode specific
*.code-workspace
.metals
project/metals.sbt
.bloop


# addendum project specific
project/target/
project/project/

# IDEA IntelliJ
.idea/

# ScalaNeko specific
src/test/scala/experimental/
src/main/scala/experimental/
