*.class
*.log

# scala/sbt specific
.cache
.history
.lib/
.metals
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/metals.sbt

# Scala-IDE specific
.scala_dependencies
.worksheet

# VScode specific
*.code-workspace
.vscode/
.bloop

# addendum project specific
project/target/
project/project/

# IDEA IntelliJ
.idea/

# ScalaNeko specific
src/test/scala/experimental/
src/main/scala/experimental/

# Mac specific
.DS_Store
